*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
output.json
app/release/
dist/
*.log
hs_err_pid*
replay_pid*
*.p12
*.pfx
release.properties
.kotlin/
*.hprof
Thumbs.db
.DS_Store
tools/wfmap_test
app/src/debug/
.vscode/
*.pem
*.key
keystore.properties
signing.properties
.env
*.idsig
